[Unit]
Description=Check NU HPC Wiki origin/main for updates

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=15s
RandomizedDelaySec=15s
Unit=nu-hpc-wiki-deploy.service

[Install]
WantedBy=timers.target
